<mat-sidenav-container class="app-container">
  <mat-sidenav
    #drawer
    mode="side"
    [(opened)]="drawerOpened"
    class="sidenav"
  >
    <div class="menu-container">
      <div *ngFor="let group of navigation" class="menu-group">
        <div class="menu-group-title">{{ group.text }}</div>
        <mat-nav-list>
          <a
            mat-list-item
            *ngFor="let item of group.items"
            (click)="navigate(item.path)"
            class="menu-item"
          >
            {{ item.text }}
          </a>
        </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="toggleDrawer()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">TEKUS WebApp</span>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
